body {
    font-family: Arial, sans-serif;
    background-color: #f8bebe;
    margin: 0;
    padding: 0;
}

.app-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    text-align: center;
    color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.search-bar input {
    width: 80%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search-bar button {
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-item {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.book-item img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
    border-radius: 5px;
}

.book-info {
    flex-grow: 1;
}

.book-info h2 {
    margin: 0;
    font-size: 16px;
}

.book-info p {
    margin: 5px 0;
}

.rating {
    color: gold;
}

.price {
    font-weight: bold;
}

.favorite {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #eff4f8;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the footer is above other content */
}

.footer a {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.footer img {
    width: 24px;
    height: 24px;
}

.footer a:hover {
    opacity: 0.8;
}