body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b19d9a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 375px;
    background-color: #b19d9a;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header .icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

main {
    text-align: center;
}

main h1 {
    color: #000;
    font-size: 18px;
    margin-top: 20px;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.payment-method img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FF9180;
}

footer .icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}