body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9a3b5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffe5d9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon-container {
    margin-bottom: 20px;
}

.icon-container img {
    width: 80px; /* Adjust size as needed */
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #b20054;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #80003e;
}

.signup-form p {
    margin-top: 20px;
    color: #333;
}

.signup-form p a {
    color: #b20054;
    text-decoration: none;
    font-weight: bold;
}

.signup-form p a:hover {
    text-decoration: underline;
}